{% extends "event_mapper/base.html" %}
{% block header %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {
            var context = {
                'bounds':[
                    [{{ user.south }}, {{ user.west }}],
                    [{{ user.north }}, {{ user.east }}]]
            };
            show_map(context);
            set_offset();
            $('#nav_movement').addClass("active");
            $('#id_region').change(function(){
                set_offset();
                id_region_change();
            });

            $('#update_movement_form').submit(function(e){
                console.log('Submitting form');
                $.ajax({
                    type: 'POST',
                    url: '/update_movement/',
                    data:  $('#update_movement_form').serialize() + '&csrfmiddlewaretoken=' + getCookie('csrftoken'),
                    dataType: 'json',
                    success: function(json){
                        console.log('Ajax success');
                        if (json['success']){
                            update_movement_view(json);
                            $('#success_panel').show();
                            $('#success_message').text(json['success_message']);
                        } else {
                            $('#error_panel').show();
                            $('#error_message').text(json['error_message']);
                        }
                        console.log('Ajax finished');
                        set_chosen_risk_level_color();
                        add_current_region_geojson(
                                jQuery.parseJSON(json['polygon']),
                                jQuery.parseJSON(json['risk_level_id']) );
                    },
                    error: function(xhr, errmsg, err){
                        $('#error_panel').show();
                        $('#error_message').text(errmsg);
                        console.log(xhr.status + ": " + xhr.responseText);
                    }

                });
                e.preventDefault();
            });
            var province_dropdown = $('#id_province');
            province_dropdown.change(function(){
                province_drop_down_change()
            });
            province_dropdown.parent().parent().hide();
            set_dropdown_color();

        });
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">
                    <div class="panel panel-primary">
                        {# Message #}
                        <div class="alert alert-dismissable alert-success"
                             id="success_panel" hidden="hidden">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span id="success_message"></span>
                        </div>
                        <div class="alert alert-dismissable alert-danger"
                             id="error_panel" hidden="hidden">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span id="error_message"></span>
                        </div>
                        {# End of Message #}
                        <div class="panel-heading">
                            <h4>
                                <i class="mdi-content-add-box"></i>
                                Movement Rating
                            </h4>
                        </div>
                        {# Current Status #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Current Rating of <b id="current_region">Region Name</b>
                            </div>
                            <div class="panel-body">
                                <div id="div_current_risk_level">
                                    Risk Level : <span id="current_risk_level"><b>N/A</b></span>
                                </div>
                                <div id="'div_current_movement_state">
                                    Movement State : <b id="current_movement_state">N/A</b>
                                </div>
                            </div>
                        </div>
                        {# End of Current Status #}
                        <div class="panel-body">
                            {% include "event_mapper/movement/update_movement_form.html" %}
                        </div>
                    </div>
                </div>
            </div> {# end side panel#}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
