<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>iMMAP Watchkeeper alerts - {{ start_date }}</title>
</head>
<body>
<div>
<table>
    <tr id="alert-rows">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <h2 style="color: rgb(149, 55, 53)">
                                <strong>iMMAP Watchkeeper alerts - </strong>{{ start_date }}<strong></strong>
                            </h2>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </tr>

    <h2 style="color: rgb(149, 55, 53); font-size: 12pt; font-weight: bold; margin-bottom: 0px;">
        SECURITY INCIDENTS - LAST 24 HOURS
    </h2>
    <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
    {% if incident_events %}
    <table tabindex="-1" style="border-collapse: collapse;" cellspacing="5" cellpadding="5">
        <tbody>
          {% for event in incident_events %}
            <tr>
                <td>
                    {{ event.place_name }} {{ event.location.get_coords }}, {{ event.date_time }}
                </td>
                <td>
                    A {{ event.type.name }} launched by {{ event.perpetrator.name }} against
                    {{ event.victim.name }} was reported. {{ event.killed }} people where killed.
                    {{ event.injured }} people where injured.
                    {{ event.detained }} people where detained.
                    <br>
                    {{ event.notes }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
        No incidents where reported during this period.
    {% endif %}

    <h2 style="color: rgb(149, 55, 53); font-size: 12pt; font-weight: bold; margin-bottom: 0px;">
        SECURITY ADVISORY - LAST 24 HOURS
    </h2>
    <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
    {% if incident_advisory %}
    <table tabindex="-1" style="border-collapse: collapse;" cellspacing="5" cellpadding="5">
        <tbody>
          {% for event in incident_advisory %}
            <tr>
                <td>
                    {{ event.place_name }} {{ event.location.get_coords }}, {{ event.date_time }}
                </td>
                <td>
                    A {{ event.type.name }} is anticipated by {{ event.perpetrator.name }} against
                    {{ event.victim.name }}.
                    <br>
                    {{ event.notes }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
        No security advisories added this period.
    {% endif %}

    <h2 style="color: rgb(149, 55, 53); font-size: 12pt; font-weight: bold; margin-bottom: 0px;">
        Movement State Updates
    </h2>
    <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
    {% if movements  %}
    <table tabindex="-1" style="border-collapse: collapse;" cellspacing="20" cellpadding="5">
        <tbody>
            <tr>
                <td>
                    Region
                </td>
                <td>
                    Movement State
                </td>
                <td>
                    Risk Level Updates
                </td>
            </tr>
          {% for movement in movements %}
            <tr style="border-collapse: collapse; border:1px solid rgb(149, 55, 53);">
                <td>
                    {% ifequal movement.boundary.name.verbose_name 'Province or State name'  %}
                        {{ movement.boundary.country.name }}: {{ movement.boundary.name }}
                    {% else %}
                        {{ movement.boundary.name }}
                    {% endifequal %}
                </td>
                <td>
                     {{ movement.movement_state_label }}
                </td>
                <td>
                    {{ movement.risk_level_label }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
        No movement updates for this period.
    {% endif %}
</table>
</div>
<br>
<br>


<br>
<br>

<table>
    <tbody>
        <tr>
            <h2 style="color: rgb(149, 55, 53); font-size: 10pt; font-weight: bold; margin-bottom: 0px;">
                FOR INTERNAL iMMAP USE ONLY
            </h2>
        </tr>
        <tr>
            <p style="font-size: 8pt;">Do not distribute further.  The information contained in this email is confidential and privileged against disclosure except for internal use by the recipient</p>
        </tr>
</tbody>
</table>


<br>
<br>
<p style="font-size: 8pt;">
This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed.
If you have received this email in error please notify the system manager.
Any views or opinions presented in this email are solely those of the author
and do not necessarily represent those of iMMAP. The recipient should check
this email and any attachments for the presence of viruses. iMMAP accepts no
liability for any damage caused by any virus transmitted by this email.
<br>
<a href=3D"http://www.immap.org" target=3D"_blank">www.immap.org</a>
</p>
</body>
</html>