<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr id="alert-rows">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <h2 style="color: rgb(149, 55, 53)">
                                <strong>iMMAP Watchkeeper alerts - </strong>{{ date }}<strong></strong>
                            </h2>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </tr>

    <h2 style="color: rgb(149, 55, 53); font-size: 12pt; font-weight: bold; margin-bottom: 0px;">
        SECURITY INCIDENTS - LAST 24 HOURS
    </h2>
    <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
    <table tabindex="-1" style="border-collapse: collapse;" cellspacing="0" cellpadding="0">
        <tbody>
          {% for event in incident_events %}
            <tr>
                <td>
                    {{ event.place_name }} {{ event.location.get_coords }}, {{ event.date_time }}
                </td>
                <td>
                    A {{ event.type.name }} launched by {{ event.perpetrator.name }} against
                    {{ event.victim.name }} was reported. {{ event.killed }} people where killed.
                    {{ event.injured }} people where injured.
                    {{ event.detained }} people where detained.
                    <br>
                    {{ event.notes }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <h2 style="color: rgb(149, 55, 53); font-size: 12pt; font-weight: bold; margin-bottom: 0px;">
        SECURITY ADVISORY - LAST 24 HOURS
    </h2>
    <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
    <table tabindex="-1" style="border-collapse: collapse;" cellspacing="0" cellpadding="0">
        <tbody>
          {% for event in incident_events %}
            <tr>
                <td>
                    {{ event.place_name }} {{ event.location.get_coords }}, {{ event.date_time }}
                </td>
                <td>
                    A {{ event.type.name }} launched by {{ event.perpetrator.name }} against
                    {{ event.victim.name }} was reported. {{ event.killed }} people where killed.
                    {{ event.injured }} people where injured.
                    {{ event.detained }} people where detained.
                    <br>
                    {{ event.notes }}
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</table>

</body>
</html>