<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>iMMAP Watchkeeper Alert - New {{ category }}</title>
</head>
<body>
<div>
    <table>
        <tr id="alert-rows">
            <table>
                <tbody>
                <tr>
                    <td>
                        <div>
                            <h2 style="color: rgb(149, 55, 53)">
                                <strong>iMMAP Watchkeeper Alert - {{ category }}</strong>
                            </h2>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </tr>

        <hr size="7" align="center" style="margin-top: 0px;" noshade=3D"">
            <table tabindex="-1" style="border-collapse: collapse;" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td>Place name</td>
                        <td>{{ event.place_name }}</td>
                    </tr>
                    <tr>
                        <td>Coordinate</td>
                        <td>{{ event.location.get_coords }}</td>
                    </tr>
                    <tr>
                        <td>Date time</td>
                        <td>{{ event.date_time }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ event.type.name }}</td>
                    </tr>
                    <tr>
                        <td>Perpetrator</td>
                        <td>
                            {% if event.perpetrator.name %}
                                {{ event.perpetrator.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Victim</td>
                        <td>
                            {% if event.victim.name %}
                                {{ event.victim.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Number of killed people</td>
                        <td>{{ event.killed }}</td>
                    </tr>
                    <tr>
                        <td>Number of injured people</td>
                        <td>{{ event.injured }}</td>
                    </tr>
                    <tr>
                        <td>Number of detained people</td>
                        <td>{{ event.detained }}</td>
                    </tr>
                    <tr>
                        <td>Source</td>
                        <td>
                            {% if event.source %}
                                {{ event.source }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td>
                            {{ event.notes }}
                            {% if event.notes %}
                                {{ event.notes }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
    </table>
</div>
<br>
<br>


<br>
<br>

<table>
    <tbody>
    <tr>
        <h2 style="color: rgb(149, 55, 53); font-size: 10pt; font-weight: bold; margin-bottom: 0px;">
            FOR INTERNAL iMMAP USE ONLY
        </h2>
    </tr>
    <tr>
        <p style="font-size: 8pt;">Do not distribute further.  The information contained in this email is confidential and privileged against disclosure except for internal use by the recipient</p>
    </tr>
    </tbody>
</table>


<br>
<br>
<p style="font-size: 8pt;">
    This email and any files transmitted with it are confidential and intended
    solely for the use of the individual or entity to whom they are addressed.
    If you have received this email in error please notify the system manager.
    Any views or opinions presented in this email are solely those of the author
    and do not necessarily represent those of iMMAP. The recipient should check
    this email and any attachments for the presence of viruses. iMMAP accepts no
    liability for any damage caused by any virus transmitted by this email.
    <br>
    <a href=3D"http://www.immap.org" target=3D"_blank">www.immap.org</a>
</p>
</body>
</html>