Django>=1.7,<1.8
psycopg2
pytz
django-braces
django-model-utils
django-pipeline>1.4
nodeenv
raven
django-forms-bootstrap
# Django rest framework support
djangorestframework==2.4.4
markdown
django-filter
Pillow
# django-sms-gateway  # Use this again once we can work with custom users
django-picklefield  # This is while we package our own sms
django-uuidfield-2  # This is while we package our own sms
django-jsonfield  # This is while we package our own sms
celery
