{% load pipeline %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    {% stylesheet 'contrib' %}
    {% javascript 'contrib' %}
    {% javascript 'appjs' %}
    <link rel="stylesheet" type="text/css" href="{% static "event_mapper/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "event_mapper/css/leaflet.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "event_mapper/css/material-wfont.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "event_mapper/css/ripples.min.css" %}">

    <script type="text/javascript" src="{% static "event_mapper/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/jquery.flot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/jquery.flot.time.min.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/material.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/material.min.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/ripples.min.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/ripples.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/validate.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/leaflet.js" %}"></script>
    <script type="text/javascript" src="{% static "event_mapper/js/event_mapper.js" %}"></script>

    <meta charset="UTF-8">

  <script>
    $(document).ready(function() {
        $.material.init();
    });
  </script>

  {% block header %}
    <title></title>
  {% endblock %}
</head>
<body>

<div id="navigation_bar">
  {% block navigation-bar %}
  {% endblock %}
</div>
<div id="content">
    {% block content %}
    {%  endblock %}
</div>
</body>
</html>
