{% extends "event_mapper/base.html" %}
{% block header %}
    <script>
        $(document).ready(function () {
            show_map();
            set_offset();
            $('#nav_home').addClass("active");
        });
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">

                </div>
            </div> {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
