{% extends "event_mapper/base.html" %}
{% block header %}
    <script>
        $(document).ready(function () {
            $('#signup_id').addClass("active");
            $('#countries_selection').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Search for country...'
            });
        });
    </script>
    <title>Sign Up</title>
{% endblock %}

{% block navigation-bar %}
    {% include "event_mapper/navigation_bar.html" %}
{% endblock %}

{% block content %}
    <div class="col-lg-3 col-lg-offset-4">
        <div style="padding-top:100px"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="mdi-social-person"></i>
                    Welcome to Watchkeeper
                </h3>
            </div>
            <div class="panel-body">
                {% include "event_mapper/user/user_create_form.html" %}
            </div>
        </div>
        {% if error %}
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong>
                {{ error }}
            </div>
        {% endif %}
    </div>

{% endblock %}
