{% extends "event_mapper/base.html" %}
{% block header %}
    <script>
        $(document).ready(function () {
            var context = {
                'bounds':[
                    [{{ user.south }}, {{ user.west }}],
                    [{{ user.north }}, {{ user.east }}]]
            };
            show_map(context);
            set_offset();
            $('#profile_id').addClass("active");
            $('#id_countries_notified').multiselect();
            map.on('moveend', function(e) {
                var map_boundaries = map.getBounds();
                var north = map_boundaries._northEast.lat;
                var east = map_boundaries._northEast.lng;
                var south = map_boundaries._southWest.lat;
                var west = map_boundaries._southWest.lng;

                $('#id_north').val(wrap_number(north, -90, 90));
                $('#id_east').val(wrap_number(east, -180, 180));
                $('#id_south').val(wrap_number(south, -90, 90));
                $('#id_west').val(wrap_number(west, -180, 180));
            })
        });
    </script>
    <title>Profile</title>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">
                <div class="panel panel-primary">
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                <div class="alert alert-dismissable alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="panel-heading">
                        <h4>
                            <i class="mdi-social-person"></i>
                            Update Profile
                        </h4>
                    </div>
                    <div class="panel-body">
                        {% include "event_mapper/user/profile_form.html" %}
                    </div>
                </div>

                </div>
            </div> {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock %}