{% extends "event_mapper/base.html" %}
{% block header %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function () {
            show_map([
                [{{ user.south }}, {{ user.west }}],
                [{{ user.north }}, {{ user.east }}]]);
            set_offset();
            $('#nav_add_alert').addClass("active");
            $('#id_date_time').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            map.on('click', add_marker_on_click);

            $('input:radio[name=category]').change(function() {
                var killed_input = $('#id_killed');
                var killed_field = $("label[for=id_killed]")
                var injured_input = $('#id_injured');
                var injured_field = $("label[for=id_injured]")
                var detained_input = $('#id_detained');
                var detained_field = $("label[for=id_detained]")
                if (this.value == '1') {
                    killed_input.show();
                    killed_field.show();
                    injured_input.show();
                    injured_field.show();
                    detained_input.show();
                    detained_field.show();
                }
                else if (this.value == '2') {
                    {#Advisory#}
                    killed_input.hide();
                    killed_field.hide();
                    injured_input.hide();
                    injured_field.hide();
                    detained_input.hide();
                    detained_field.hide();
                }
            });
            function log( message ) {
                alert(message);
            }
            $("#id_place_name").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://gd.geobytes.com/AutoCompleteCity",
                        dataType: "jsonp",
                        data: {
                            q: request.term
                        },
                        success: function( data ) {
                            response( data );
                        }
                    });
                },
                minLength: 3,
                select: function( event, ui ) {
                    geocoder.geocode( { 'address': $('#id_place_name').val()},
                            function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            set_longitude_form(results[0].geometry.location.lng());
                            set_latitude_form(results[0].geometry.location.lat());
                        } else {
                            alert("Something got wrong with location " +
                            "autocomplete." + status);
                        }
                    });
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                <div class="alert alert-dismissable alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi-content-add-box"></i>
                            Add Alert
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% include "event_mapper/event/add_event_form.html" %}
                    </div>
                </div>
            </div> {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
