{% extends "event_mapper/base.html" %}
{% block header %}
    <script>
        $(document).ready(function () {
            {% if user.is_authenticated %}
                {% if user.north %}
                    var context = {
                        'bounds':[
                            [{{ user.south }}, {{ user.west }}],
                            [{{ user.north }}, {{ user.east }}]]
                    };
                    show_map(context);
                {% else %}
                    show_map();
                {% endif %}
            {% else %}
                show_map();
            {% endif %}
            set_offset();
            $('#nav_home').addClass("active");
            $('#show_events_button').click(function(){
{#                clear_markers();#}
                console.log('Calling Ajax');
                var map_boundaries = map.getBounds();
                var bbox = {
                    'ne_lat': wrap_number(
                            map_boundaries._northEast.lat, -90, 90),
                    'ne_lng': wrap_number(
                            map_boundaries._northEast.lng, -180, 180),
                    'sw_lat': wrap_number(
                            map_boundaries._southWest.lat, -90, 90),
                    'sw_lng': wrap_number(
                            map_boundaries._southWest.lng, -180, 180)
                };
                console.log(bbox)
                bbox = JSON.stringify(bbox);
                $.ajax({
                    type: 'POST',
                    url: '/show_event',
                    data: {bbox: bbox},
                    dataType: 'json',
                    success: function(json){
                        console.log('Ajax success');
                        console.log(json);
                        var events = json['events']['features'];
                        console.log('There are ' + events.length + ' events');
                        for (var i = 0; i < events.length; i++){
                            console.log(events[i]);
                            add_event_marker(events[i]);
                        }
                    },
                    errors: function(){
                        console.log('Ajax failed');
                    }
                })
            });
        });

    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">
                    {% include "event_mapper/event/event_dashboard.html" %}
                </div>
            </div> {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
