{% extends "event_mapper/base.html" %}
{% block header %}
    <script>
        $(document).ready(function () {
            {% if user.is_authenticated %}
                {% if user.north %}
                    var context = {
                        'bounds':[
                            [{{ user.south }}, {{ user.west }}],
                            [{{ user.north }}, {{ user.east }}]]
                    };
                    show_map(context);
                {% else %}
                    show_map();
                {% endif %}
            {% else %}
                show_map();
            {% endif %}
            set_offset();

            $('input:radio[name=time_interval]').change(function() {
                interval_changes(this);
            });

            map.on('click', function(e){
                console.log(e.latlng.lat, e.latlng.lng);
            });

            var start_time_input = $('#start_time_input');
            var end_time_input = $('#end_time_input');

            start_time_input.datetimepicker();
            end_time_input.datetimepicker();

            start_time_input.on("dp.change", function (e) {
                end_time_input.data("DateTimePicker").minDate(e.date);
            });
            end_time_input.on("dp.change", function (e) {
                start_time_input.data("DateTimePicker").maxDate(e.date);
            });

            $('#nav_home').addClass("active");
            $('#show_events_button').click(function(){
                clear_markers();
                console.log('Calling Ajax');
                var map_boundaries = map.getBounds();
                var bbox = {
                    'ne_lat': wrap_number(
                            map_boundaries._northEast.lat, -90, 90),
                    'ne_lng': wrap_number(
                            map_boundaries._northEast.lng, -180, 180),
                    'sw_lat': wrap_number(
                            map_boundaries._southWest.lat, -90, 90),
                    'sw_lng': wrap_number(
                            map_boundaries._southWest.lng, -180, 180)
                };
                var end_time;
                var start_time;
                var selected_time_option = $(
                        'input[name="time_interval"]:checked').val();
                if (selected_time_option == '24h'){
                    end_time = moment();
                    start_time = moment().subtract(1, 'days');
                } else if (selected_time_option == 'week'){
                    end_time = moment();
                    start_time = moment().subtract(7, 'days');
                } else if (selected_time_option == 'custom'){
                    end_time = $('#end_time_input');
                    end_time = moment(end_time);

                    start_time = $('#start_time_input');
                    start_time = moment(start_time);
                } else{
                    end_time = moment();
                    start_time = moment().subtract(1, 'days');
                }
                bbox = JSON.stringify(bbox);
                $.ajax({
                    type: 'POST',
                    url: '/show_event',
                    data: {
                        bbox: bbox,
                        start_time: start_time.toJSON(),
                        end_time: end_time.toJSON()
                    },
                    dataType: 'json',
                    success: function(json){
                        console.log('Ajax success');
                        var events = json['events']['features'];
                        console.log('There are ' + events.length + ' events');
                        for (var i = 0; i < events.length; i++){
                            add_event_marker(events[i]);
                        }
                        $('#num_events').text(events.length);
                    },
                    errors: function(){
                        console.log('Ajax failed');
                    }
                })
            });
        });

    </script>
{% endblock header %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {# map #}
            <div class="col-lg-8" style="margin:0; padding:0;">
                {% include "event_mapper/map.html" %}
            </div>
            {# side panel #}
            <div class="col-lg-4" id="side_panel" style="padding-top: 10px;">
                <div class="bs-component">
                    {% include "event_mapper/event/event_dashboard.html" %}
                </div>
            </div> {# end side panel #}
        </div>
        {# show hide toggle #}
        <a id="show_hide"
           style="position:absolute; right: 0px; bottom: 50px;"
           href="javascript:void(0)"
           class="btn btn-danger btn-fab btn-raised glyphicon glyphicon-chevron-right"
           onclick="toggle_side_panel()"></a>
    </div>
{% endblock content %}
