<div id="event_dashboard">
    <div class="panel-heading">
        <h4>Dashboard</h4>
    </div>
    <div class="panel-body">
        <div>Incident Type</div>
        <div id="incident_type_chart">Chart</div>
        <div id="alert_box">Num of Alerts: <b id="num_events">0</b></div>
        <div id="time_option">Time options</div>
        <div>
            <input type="radio" name="time_interval" id="24h" value="24h" checked="true">
            <label for="24h">24 Hours</label>
            <input type="radio" name="time_interval" id="week" value="week">
            <label for="week">Week</label>
            <input type="radio" name="time_interval" id="custom" value="custom">
            <label for="custom">Custom</label>
        </div>
        <div id="start_date">Start</div>
        <div id="end_date">End</div>
        <button id="show_events_button">Show Events</button>
    </div>
</div>