<div id="event_dashboard" class="panel panel-primary">
    <div class="panel-heading">
        <h4>Event Dashboard</h4>
    </div>
    <div class="panel-body">
        <div align="center"><h3>Event Category</h3></div>
        <div align="center">
            <canvas id="incident_type_chart" width="200" height="200"></canvas>
        </div>
        <div class="form-control empty" id="alert_box" class="form-control-wrapper">
            Num of Alerts: <b id="num_events">0</b>
        </div>
        <p>
            <div id="time_option">Time options</div>
                <label for="24h">
                    <div class="form-control-wrapper">
                        <input class="form-control" type="radio" name="time_interval" id="24h" value="24h" checked="true">
                    </div>
                    24 Hours
                </label>
                <label for="week">
                    <div class="form-control-wrapper">
                        <input class="form-control" type="radio" name="time_interval" id="week" value="week">
                    </div>
                    Week
                </label>
                <label for="custom">
                    <div class="form-control-wrapper">
                        <input class="form-control" type="radio" name="time_interval" id="custom" value="custom">
                    </div>
                    Custom
                </label>
            <div class="form-control-wrapper">
        </p>
            <label for="start_time_input">Start Time</label>
            <input class="form-control empty" type="datetime" id="start_time_input" disabled>
        </div>
        <div class="form-control-wrapper">
            <label for="end_time_input">End Time</label>
            <input class="form-control empty" type="datetime" id="end_time_input" disabled>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="event_detail" hidden="hidden">
    <div class="panel-heading">
        <h4>Event Detail</h4>
    </div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>
            <tr>
                <td>Category</td>
                <td><b id="event_detail_category"></b></td>
            </tr>
            <tr>
                <td>Place name</td>
                <td><b id="event_detail_place_name"></b></td>
            </tr>
            <tr>
                <td>Date Time</td>
                <td><b id="event_detail_date_time"></b></td>
            </tr>
            <tr>
                <td>Type</td>
                <td><b id="event_detail_type"></b></td>
            </tr>
            <tr>
                <td>Perpetrator</td>
                <td><b id="event_detail_perpetrator"></b></td>
            </tr>
            <tr>
                <td>Victim</td>
                <td><b id="event_detail_victim"></b></td>
            </tr>
            <tr>
                <td>Killed</td>
                <td><b id="event_detail_killed"></b></td>
            </tr>
            <tr>
                <td>Injured</td>
                <td><b id="event_detail_injured"></b></td>
            </tr>
            <tr>
                <td>Detained</td>
                <td><b id="event_detail_detained"></b></td>
            </tr>
            <tr>
                <td>Source</td>
                <td><b id="event_detail_source"></b></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><b id="event_detail_notes"></b></td>
            </tr>
            <tr>
                <td>Reported By</td>
                <td><b id="event_detail_reported_by"></b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>